.block-group label {
    display: block;
}

#start-button {
    margin: 10px 0; /* 10px top/botton 0px left/right */
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

#start-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}